.path-blocks-evokehq .groupinfo .group {
    display: flex;
    flex-wrap: wrap;
}

.path-blocks-evokehq .groupinfo .group img {
    margin-right: .5rem;
}

.path-blocks-evokehq .groupinfo .group h2 {
    margin-bottom: 0;
}

#page-blocks-evokehq-portfolios .groupmember,
.block_evokehq .groupmember {
    display: inline-block;
    background-color: #140f3f;
    padding: .25rem;
    margin: .25rem;
    color: #fff;
    border-radius: 20px;
}

#page-blocks-evokehq-portfolios .groupmember img,
.block_evokehq .groupmember img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.block_evokehq .actionbuttons {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.block_evokehq .hqtitle {
    border: 1px solid #d7dfe3;
    padding: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.block_evokehq .hqtitle h3 {
    margin: 0;
}

.block_evokehq .row-cols-1 > * {
    margin: 0 5px;
    flex: 0 0 auto;
    width: calc(100% - 10px);
}

@media (min-width: 576px) {
    .block_evokehq .row-cols-sm-2 > * {
        flex: 0 0 auto;
        width: calc(50% - 10px);
    }
}

@media (min-width: 768px) {
    .block_evokehq .row-cols-md-4 > * {
        flex: 0 0 auto;
        width: calc(25% - 10px);
    }
}

.block_evokehq .actionbuttons .button {
    border: 1px solid #d7dfe3;
    padding: 0;
}

.block_evokehq .actionbuttons .button a {
    color: #140f3f;
}

.block_evokehq .actionbuttons .button a:hover {
    text-decoration: none;
}

.block_evokehq .actionbuttons .button .card-body {
    background-color: #140f3f;
    padding: 1rem;
}

.block_evokehq .actionbuttons .button .card-body .card-title {
    margin: 0;
    color: #ff0540;
    text-align: center;
}

.block_evokehq .actionbuttons .button:hover .card-body {
    background-color: #ff0540;
}

.block_evokehq .actionbuttons .button:hover .card-body .card-title {
    color: #fff;
}

.block_evokehq .actionbuttons .button img {
    max-width: 100%;
}

.block_evokehq .actionbuttons .button .card-description {
    padding: 1.5rem .5rem;
}

.block_evokehq .actionbuttons .button .card-description p {
    margin: 0;
    text-align: center;
    font-family: "Bungee", cursive;
}

#page-blocks-evokehq-groups .groups {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

#page-blocks-evokehq-groups .groups .group {
    width: calc(50% - 1rem);
    border: 1px solid #d7dfe3;
    margin: .5rem;
    padding: 2rem;
    text-align: center;
}

#page-blocks-evokehq-groups .groups .image {
    display: initial;
}

#page-blocks-evokehq-groups .groups .image img {
    width: 100px;
}

#page-blocks-evokehq-groups .groups .group .action {
    font-size: 2em;
}

#page-blocks-evokehq-groups .groups .group .action a {
    color: #140f3f;
}
