<h3>My team</h3>

<div class="myteammembers">
    <div class="groupmember">
        <img src="http://localhost/evoke/theme/image.php/moove/core/1634420790/u/f2" alt="Student One"> Student One
    </div>
    <div class="groupmember">
        <img src="http://localhost/evoke/theme/image.php/moove/core/1634420790/u/f2" alt="Student Three"> Student Three
    </div>
    <div class="groupmember">
        <img src="http://localhost/evoke/theme/image.php/moove/core/1634420790/u/f2" alt="Student Two"> Student Two
    </div>
    <div class="groupmember">
        <img src="http://localhost/evoke/theme/image.php/moove/core/1634420790/u/f2" alt="Tutor One"> Tutor One
    </div>
</div>

<div class="actionbuttons">
    <div class="button">
        <div class="icon">
            <img src="{{config.wwwroot}}/blocks/evokehq/pix/portfolios.png" alt="Group img">
        </div>
        <div class="action">
            <a href="#">Explore portfolios</a>
        </div>
    </div>
    <div class="button">
        <div class="icon">
            <img src="{{config.wwwroot}}/blocks/evokehq/pix/chat.png" alt="Group img">
        </div>
        <div class="action">
            <a href="#">Group Chat</a>
        </div>
    </div>
    <div class="button">
        <div class="icon">
            <img src="{{config.wwwroot}}/blocks/evokehq/pix/evokation.png" alt="Group img">
        </div>
        <div class="action">
            <a href="#">Evokation</a>
        </div>
    </div>
    <div class="button">
        <div class="icon">
            <img src="{{config.wwwroot}}/blocks/evokehq/pix/missions.png" alt="Group img">
        </div>
        <div class="action">
            <a href="#">Missions</a>
        </div>
    </div>
</div>