<h3>{{#str}}myteam, block_evokehq{{/str}}</h3>

<div class="myteammembers">
{{#groupmembers}}
    <div class="groupmember">
        <img src="{{{userpicture}}}" alt="{{{userfullname}}}"> {{{fullname}}}
    </div>
{{/groupmembers}}
</div>

<div class="actionbuttons">
    <div class="button">
        <div class="icon">
            <img src="{{config.wwwroot}}/blocks/evokehq/pix/portfolios.png" alt="{{#str}}exploreportfolios, block_evokehq{{/str}}">
        </div>
        <div class="action">
            <a href="{{config.wwwroot}}/blocks/evokehq/groups.php?course={{{courseid}}}">{{#str}}exploreportfolios, block_evokehq{{/str}}</a>
        </div>
    </div>
    <div class="button">
        <div class="icon">
            <img src="{{config.wwwroot}}/blocks/evokehq/pix/chat.png" alt="{{#str}}groupchat, block_evokehq{{/str}}">
        </div>
        <div class="action">
            <a href="{{{coursechat}}}">{{#str}}groupchat, block_evokehq{{/str}}</a>
        </div>
    </div>
    <div class="button">
        <div class="icon">
            <img src="{{config.wwwroot}}/blocks/evokehq/pix/evokation.png" alt="{{#str}}evokation, block_evokehq{{/str}}">
        </div>
        <div class="action">
            <a href="{{{config.wwwroot}}}/course/view.php?id={{courseid}}">{{#str}}evokation, block_evokehq{{/str}}</a>
        </div>
    </div>
    <div class="button">
        <div class="icon">
            <img src="{{config.wwwroot}}/blocks/evokehq/pix/missions.png" alt="{{#str}}missions, block_evokehq{{/str}}">
        </div>
        <div class="action">
            <a href="{{{config.wwwroot}}}/course/view.php?id={{courseid}}">{{#str}}missions, block_evokehq{{/str}}</a>
        </div>
    </div>
</div>