{{#courseid}}
    {{#hasgroup}}
        <h2>{{#str}}myteam, block_evokehq{{/str}}</h2>
        <div class="myteammembers">
            {{#groupmembers}}
                <div class="groupmember">
                    <a href="{{config.wwwroot}}/local/evokegame/profile.php?id={{courseid}}&userid={{id}}">
                        <img src="{{{userpicture}}}" alt="{{{userfullname}}}"> {{{fullname}}}
                    </a>
                </div>
            {{/groupmembers}}
        </div>
    {{/hasgroup}}
{{/courseid}}

<!-- Perhaps this would be a good space to insert a "My superpowers" section to graph progress toward superpowers (bad  ges/competencies) and badges awarded  -->

{{#courseid}}
    <div class="hqtitle">
        <h2 class="mb-0">{{{title}}}</h2>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 actionbuttons">
        {{#hasmissionmap}}
            <div class="col button">
                <a href="{{{config.wwwroot}}}/blocks/evokehq/missions.php?id={{courseid}}">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{#str}}missions, block_evokehq{{/str}}</h2>
                        </div>
                        <img src="{{img_missions}}" class="card-img-top" alt="{{#str}}missions, block_evokehq{{/str}}">
                        <div class="card-description">
                            <p>{{#str}}missions_desc, block_evokehq{{/str}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {{/hasmissionmap}}
        {{#url_evokation}}
            <div class="col button">
                <a href="{{{url_evokation}}}">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{#str}}evokation, block_evokehq{{/str}}</h2>
                        </div>
                        <img src="{{img_evokation}}" class="card-img-top" alt="{{#str}}evokation, block_evokehq{{/str}}">
                        <div class="card-description">
                            <p>{{#str}}evokation_desc, block_evokehq{{/str}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {{/url_evokation}}
        <div class="col button">
            <a href="{{config.wwwroot}}/mod/evokeportfolio/index.php?id={{{courseid}}}">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{#str}}exploreportfolios, block_evokehq{{/str}}</h2>
                    </div>
                    <img src="{{img_portfolios}}" class="card-img-top" alt="{{#str}}exploreportfolios, block_evokehq{{/str}}">
                    <div class="card-description">
                        <p>{{#str}}exploreportfolios_desc, block_evokehq{{/str}}</p>
                    </div>
                </div>
            </a>
        </div>
        {{#url_chat}}
            <div class="col button">
                <a href="{{{url_chat}}}">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{#str}}groupchat, block_evokehq{{/str}}</h2>
                        </div>
                        <img src="{{img_chat}}" class="card-img-top" alt="{{#str}}groupchat, block_evokehq{{/str}}">
                        <div class="card-description">
                            <p>{{#str}}groupchat, block_evokehq{{/str}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {{/url_chat}}
    </div>
{{/courseid}}
{{^courseid}}
    <div class="alert alert-warning" role="alert">
        <h4>{{#str}}youarenotenrolled, block_evokehq{{/str}}</h4>
        <p class="mb-0">{{#str}}youarenotenrolled_desc, block_evokehq{{/str}}</p>
    </div>
{{/courseid}}