<h3>{{#str}}networkcreations, block_evokehq{{/str}}</h3>
<h4>{{{coursename}}}</h4>

<div class="groups">
    {{#groups}}
        <div class="group">
            <div class="image">
                <img src="{{groupimage}}" alt="{{name}}">
            </div>
            <div class="action">
                <a href="{{config.wwwroot}}/blocks/evokehq/portfolios.php?course={{{courseid}}}&group={{{id}}}">{{name}}</a>
            </div>
        </div>
    {{/groups}}
</div>
{{^groups}}
    <div class="alert alert-warning" role="alert">
        <h3>{{#str}}therearenogroups, block_evokehq{{/str}}</h3>
    </div>
{{/groups}}