<div class="groupinfo">
    <div class="group">
        <img src="{{{groupimage}}}" alt="{{{groupname}}}" style="width: 42px;">
        <h2>{{{groupname}}}</h2>
    </div>
    <h3>{{#str}}groupmembers, block_evokehq{{/str}}</h3>
    <div class="groupmembers mb-3">
        {{#groupmembers}}
            <div class="groupmember">
                <img src="{{{userpicture}}}" alt="{{{userfullname}}}"> {{{fullname}}}
            </div>
        {{/groupmembers}}
    </div>
</div>

{{#hasportfolios}}
    {{#portfolios}}
        <div class="card mb-2" style="border: 1px solid #d7dfe3;">
            <div class="card-body">
                <h5 class="card-title">{{{name}}}</h5>
                {{#description}}
                    <p class="mb-0">{{{description}}}</p>
                {{/description}}
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-primary" href="{{{config.wwwroot}}}/blocks/evokehq/portfolio.php?id={{{id}}}&group={{{groupid}}}">{{#str}}view, block_evokehq{{/str}}</a>
            </div>
        </div>
    {{/portfolios}}
{{/hasportfolios}}
{{^hasportfolios}}
    <div class="alert aler-danger" role="alert">
        <h3>{{#str}}coursenoportfolio, block_evokehq{{/str}}</h3>
    </div>
{{/hasportfolios}}