<h2>{{{portfolioname}}}</h2>
<h3>{{{sectionname}}}</h3>
<p class="mb-0">{{{sectiondescription}}}</p>

{{^hassubmissions}}
   <div class="alert alert-warning" role="alert">
       <h3>No submissions!</h3>
       <p>There is no submissions from this group yet.</p>
   </div>
{{/hassubmissions}}
{{#hassubmissions}}
    {{> mod_evokeportfolio/sectionsubmissions }}
{{/hassubmissions}}
