<h2>{{{portfolioname}}}</h2>
<h3>{{{sectionname}}}</h3>
<p class="mb-0">{{{sectiondescription}}}</p>

{{^hassubmissions}}
   <div class="alert alert-warning" role="alert">
       <h3>{{#str}}nosubmissions, block_evokehq{{/str}}</h3>
       <p>{{#str}}nosubmissions_desc, block_evokehq{{/str}}</p>
   </div>
{{/hassubmissions}}
{{#hassubmissions}}
    {{> mod_evokeportfolio/sectionsubmissions }}
{{/hassubmissions}}
